# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# OFFIS specific files
*.exe

# QT
subtree/qt-remote-signals/bin/*
!subtree/qt-remote-signals/bin/*.cpp
!subtree/qt-remote-signals/bin/*.h

/bin/*
Framework.pro.user